body {
  color: #40514e;
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 5% auto 0 auto;
  padding: 0 20% 0 20%;
  color: #66BFBF;
}

h2 {
  padding: 0 20% 0 20%;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  padding: 3% 20% 0 20%;
  color:  #11999E;
}

p {
  padding: 0 20% 0 20%;
    line-height: 2rem;
}

hr {
  width: 5%;
  border: 5px dotted grey;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 3%;
  margin-top: 4%;
  margin-bottom: 4%;
}

a {
   color:  #11999E;
}
.contact-me {
  padding-bottom: 3%;
}

.contact-me-h3 {
  padding-top: 0;
}

.footer-link {
  height: 3%;
  width: 3%;
  padding: 0 0.5% 0 0.5%;
}

.topContainer {
  background-color: #d2fafb;
  padding: 100px 0 0 0;
}

.middleContainer {
  padding-top: 7%;
}

.bottomContainer {
  background-color: #9deaed;
  padding-top: 3%;
}

.skill-row {
  text-align: left;
  width: 60%;
  margin: 3% auto 7% auto;


}
.skill-img1 {
  width: 25%;
  float: left;
  margin-right: 50px;
}

.skill-img2 {
  width: 25%;
  float: right;
  margin-left: 50px;
}
.pro {
  text-decoration: underline;
}

.bottonCloud {
  position: absolute;
  top: 52%;
  left: 15%;
}



.topCloud {
  position: absolute;
  top: 7%;
  left: 72%;
}

.profile-img {
  height: 20%;
  width: 20%;
}

.subtitle  {
  font-weight: normal;
}

.header {
    line-height: 5rem;
}

.button {
	background-color:#44c767;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #b0d9b8;
	display:inline-block;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
}
.button:hover {
	background-color:#5cbf2a;
}
.button:active {
	position:relative;
	top:1px;
